/*CSS for Padding Start*/
.p-b-none{
    padding-bottom: 0 !important;
}

.p-b-xs{
    padding-bottom: 5px !important;
}

.p-b-sm{
    padding-bottom: 10px !important;
}

.p-b-md{
    padding-bottom: 15px !important;
}

.p-b-lg{
    padding-bottom: 20px !important;
}

.p-b-xl{
    padding-bottom: 25px !important;
}

.p-b-xxl{
    padding-bottom: 30px !important;
}

.p-t-none{
    padding-top: 0 !important;
}

.p-t-xs{
    padding-top: 5px !important;
}

.p-t-sm{
    padding-top: 10px !important;
}

.p-t-md{
    padding-top: 15px !important;
}

.p-t-lg{
    padding-top: 20px !important;
}

.p-t-xl{
    padding-top: 25px !important;
}

.p-t-xxl{
    padding-top: 30px !important;
}

.p-r-none{
    padding-right: 0 !important;
}

.p-r-xs{
    padding-right: 5px !important;
}

.p-r-sm{
    padding-right: 10px !important;
}

.p-r-md{
    padding-right: 15px !important;
}

.p-r-lg{
    padding-right: 20px !important;
}

.p-r-xl{
    padding-right: 25px !important;
}

.p-r-xxl{
    padding-right: 30px !important;
}

.p-l-none{
    padding-left: 0 !important;
}

.p-l-xs{
    padding-left: 5px !important;
}

.p-l-sm{
    padding-left: 10px !important;
}

.p-l-md{
    padding-left: 15px !important;
}

.p-l-lg{
    padding-left: 20px !important;
}

.p-l-xl{
    padding-left: 25px !important;
}

.p-l-xxl{
    padding-left: 30px !important;
}

.p-none{
    padding: 0 !important;
}

.p-xs{
    padding: 5px !important;
}

.p-sm{
    padding: 10px !important;
}

.p-md{
    padding: 15px !important;
}

.p-lg{
    padding: 20px !important;
}

.p-xl{
    padding: 25px !important;
}

.p-xxl{
    padding: 30px !important;
}

.p-h-none{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.p-v-none{
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.p-h-xs{
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.p-v-xs{
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

.p-h-sm{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.p-v-sm{
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.p-h-md{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.p-v-md{
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}

.p-h-lg{
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.p-v-lg{
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}

.p-h-xl{
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.p-v-xl{
    padding-bottom: 25px !important;
    padding-top: 25px !important;
}

.p-h-xxl{
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.p-v-xxl{
    padding-bottom: 30px !important;
    padding-top: 30px !important;
}
/*CSS for Padding Ends*/


/*CSS for Margin Start*/
.m-b-none{
    margin-bottom: 0 !important;
}

.m-b-xs{
    margin-bottom: 5px !important;
}

.m-b-sm{
    margin-bottom: 10px !important;
}

.m-b-md{
    margin-bottom: 15px !important;
}

.m-b-lg{
    margin-bottom: 20px !important;
}

.m-b-xl{
    margin-bottom: 25px !important;
}

.m-b-xxl{
    margin-bottom: 30px !important;
}

.m-t-none{
    margin-top: 0 !important;
}

.m-t-xs{
    margin-top: 5px !important;
}

.m-t-sm{
    margin-top: 10px !important;
}

.m-t-md{
    margin-top: 15px !important;
}

.m-t-lg{
    margin-top: 20px !important;
}

.m-t-xl{
    margin-top: 25px !important;
}

.m-t-xxl{
    margin-top: 30px !important;
}

.m-r-none{
    margin-right: 0 !important;
}

.m-r-xs{
    margin-right: 5px !important;
}

.m-r-sm{
    margin-right: 10px !important;
}

.m-r-md{
    margin-right: 15px !important;
}

.m-r-lg{
    margin-right: 20px !important;
}

.m-r-xl{
    margin-right: 25px !important;
}

.m-r-xxl{
    margin-right: 30px !important;
}

.m-l-none{
    margin-left: 0 !important;
}

.m-l-xs{
    margin-left: 5px !important;
}

.m-l-sm{
    margin-left: 10px !important;
}

.m-l-md{
    margin-left: 15px !important;
}

.m-l-lg{
    margin-left: 20px !important;
}

.m-l-xl{
    margin-left: 25px !important;
}

.m-l-xxl{
    margin-left: 30px !important;
}

.m-none{
    margin: 0 !important;
}

.m-xs{
    margin: 5px !important;
}

.m-sm{
    margin: 10px !important;
}

.m-md{
    margin: 15px !important;
}

.m-lg{
    margin: 20px !important;
}

.m-xl{
    margin: 25px !important;
}

.m-xxl{
    margin: 30px !important;
}

.m-h-none{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.m-v-none{
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.m-h-xs{
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.m-v-xs{
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

.m-h-sm{
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.m-v-sm{
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.m-h-md{
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.m-v-md{
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}

.m-h-lg{
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.m-v-lg{
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}

.m-h-xl{
    margin-left: 25px !important;
    margin-right: 25px !important;
}

.m-v-xl{
    margin-bottom: 25px !important;
    margin-top: 25px !important;
}

.m-h-xxl{
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.m-v-xxl{
    margin-bottom: 30px !important;
    margin-top: 30px !important;
}
/*CSS for Margin Ends*/

/*CSS for Fonts Start*/
.font-xxs{
    font-size: 12px !important;
}

.font-xs{
    font-size: 14px !important;
}

.font-sm{
    font-size: 16px !important;
}

.font-md{
    font-size: 18px !important;
}

.font-lg{
    font-size: 20px !important;
}

.font-xl{
    font-size: 22px !important;
}

.font-xxl{
    font-size: 24px !important;
}
/*CSS for Fonts Ends*/