<!DOCTYPE html>
<html ng-app="homer">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="bower_components/animate.css/animate.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="bower_components/toastr/toastr.css?rel=1504856002513"/>
    <link rel="stylesheet" href="bower_components/summernote/dist/summernote.css?rel=1504856002513"/>
    <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.min.css"/>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/style.css -->
    <link rel="stylesheet" href="fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css"/>
    <link rel="stylesheet" href="fonts/pe-icon-7-stroke/css/helper.css"/>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/custom.css">
    <!-- endbuild -->

</head>

<!-- Body -->
<!-- appCtrl controller with serveral data used in theme on diferent view -->
<body class="{{$state.current.data.specialClass}} height-100-per">
<!-- Page view wrapper -->
<div class="uiview height-100-per" ui-view></div>
</body>

<!-- build:js(.) scripts/vendor.js -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
<script src="bower_components/parsleyjs/dist/parsley.js"></script>
<script src="bower_components/toastr/toastr.js?rel=1504856002512"></script>
<script src="bower_components/moment/min/moment.min.js?rel=!21503567846505"></script>
<script src="bower_components/moment/min/locales.min.js?rel=!21503567846505"></script>
<script src="bower_components/humanize-duration/humanize-duration.js?rel=!21503567846505"></script>
<script src="bower_components/angular-timer/dist/angular-timer.min.js?rel=!21503567846505"></script>
<script src="bower_components/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="bower_components/summernote/dist/summernote.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/config.js"></script>
<script src="scripts/directives/directives.js"></script>
<script src="scripts/factories/constants.js"></script>
<script src="scripts/factories/httpService.js"></script>
<script src="scripts/factories/utility.js"></script>
<script src="scripts/factories/SessionManager.js"></script>
<script src="scripts/models/UserModel.js"></script>
<script src="scripts/models/Request.js"></script>
<script src="modules/login/LoginController.js"></script>
<script src="modules/login/LoginManager.js"></script>
<script src="modules/dashboard/DashBoardController.js"></script>
<script src="modules/dashboard/DashBoardManager.js"></script>
<script src="modules/private-dashboard/PrivateDashboardController.js"></script>
<script src="modules/private-dashboard/PrivateDashboardManager.js"></script>
<script src="scripts/models/EntityModel.js"></script>
<script src="modules/signUp/SignUpController.js"></script>
<script src="modules/signUp/SignUpManager.js"></script>
<!-- endbuild -->

</html>