<div class="">
    <div id="SignUp" class="height-100-per container">
        <form id="SignUpForm" class="form-login bg-white p-l-lg p-r-lg m-b-xxxl" name="SignUp" ng-submit="signUp()"
              ng-init="inItSignUpFormParsley()">
            <div class="font-md bg-light-blue text-white text-center p-m border-corner-t m-l-n-md m-r-n-md">
                CREATE ACCOUNT
            </div>
            <div class="p-t-40">
                <md-input-container class="width-100-per m-none">
                    <label>First Name</label>
                    <input id="firstNameInput" type="text" name="firstNameInput" ng-model="userObject.firstName"
                           data-parsley-required="true" md-autofocus>
                </md-input-container>
            </div>
            <div>
                <md-input-container class="width-100-per m-none">
                    <label>Last Name</label>
                    <input id="lastNameInput" type="text" name="lastNameInput" ng-model="userObject.lastName">
                </md-input-container>
            </div>
            <div>
                <md-input-container class="width-100-per m-none">
                    <label>Email ID</label>
                    <input id="emailIdInput" type="email" name="email" ng-model="userObject.emailID"
                           data-parsley-required="true">
                </md-input-container>
            </div>
            <div>
                <md-input-container class="width-100-per m-none">
                    <label>Password</label>
                    <input id="passwordInput" type="password" name="password" data-parsley-minlength="6"
                           data-parsley-required="true" ng-model="userObject.password">
                </md-input-container>
            </div>
            <div>
                <md-input-container class="width-100-per m-none">
                    <label>Confirm Password</label>
                    <input id="confirmPasswordInput" type="password" name="confirmPassword"
                           data-parsley-equalto="#passwordInput"
                           data-parsley-equalto-message="This value should be the same as Password."
                           data-parsley-required="true" ng-model="userObject.confirmPassword">
                </md-input-container>

            </div>
            <div class="m-t-sm">
                <span id="errorContainer" class="font-16px text-red"></span>
            </div>
            <div class="m-t-md">
                <button id="signUpButton" class="btn btn-block font-md bg-light-blue text-white p-xs height-40"
                        type="submit">
                    Sign up
                </button>
            </div>
            <div class="p-b-md m-t-md text-dark-grey">
                Already have an account?
                <a href="#/login" class="link-to text-light-blue">
                    Sign in <i class="fa fa-caret-right" aria-hidden="true"></i>
                </a>
            </div>
        </form>
    </div>
</div>